!!! XML
%scheme{name: 'Quiet', version: 1, parent_scheme: 'Default'}
  - settings['top'].each do |k, v|
    %option{name: k, value: v}
  %font
    - settings['font'].each do |k, v|
      %option{name: k, value: v}
  %colors
    - settings['colors'].each do |k, v|
      %option{name: k, value: v}
  %attributes
    - options.each do |o|
      %option{name: o[:name]}
        %value
          - o[:value].each do |k, v|
            %option{name: k, value: v}
